<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPrestamoLabel" jhiTranslate="libreriaApp.prestamo.home.createOrEditLabel">Create or edit a Prestamo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!prestamo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="prestamo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libreriaApp.prestamo.codigoPrestamo" for="field_codigoPrestamo">Codigo Prestamo</label>
            <input type="text" class="form-control" name="codigoPrestamo" id="field_codigoPrestamo"
                [(ngModel)]="prestamo.codigoPrestamo" required/>
            <div [hidden]="!(editForm.controls.codigoPrestamo?.dirty && editForm.controls.codigoPrestamo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codigoPrestamo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libreriaApp.prestamo.fechaPrestado" for="field_fechaPrestado">Fecha Prestado</label>
            <div class="d-flex">
                <input id="field_fechaPrestado" type="datetime-local" class="form-control" name="fechaPrestado" [(ngModel)]="prestamo.fechaPrestado"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libreriaApp.prestamo.fechasDevuelto" for="field_fechasDevuelto">Fechas Devuelto</label>
            <div class="d-flex">
                <input id="field_fechasDevuelto" type="datetime-local" class="form-control" name="fechasDevuelto" [(ngModel)]="prestamo.fechasDevuelto"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libreriaApp.prestamo.ejemplar" for="field_ejemplar">Ejemplar</label>
            <select class="form-control" id="field_ejemplar" name="ejemplar" [(ngModel)]="prestamo.ejemplar" >
                <option [ngValue]="null"></option>
                <option [ngValue]="libroOption.id === prestamo.ejemplar?.id ? prestamo.ejemplar : libroOption" *ngFor="let libroOption of libros; trackBy: trackLibroById">{{libroOption.codLibro}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libreriaApp.prestamo.empleado" for="field_empleado">Empleado</label>
            <select class="form-control" id="field_empleado" name="empleado" [(ngModel)]="prestamo.empleado" >
                <option [ngValue]="null"></option>
                <option [ngValue]="empleadoOption.id === prestamo.empleado?.id ? prestamo.empleado : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.codEmpleado}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
