
<div *ngIf="libreria">
    <h2><span jhiTranslate="libreriaApp.libreria.detail.title">Libreria</span> {{libreria.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="libreriaApp.libreria.codLibreria">Cod Libreria</span></dt>
        <dd>
            <span>{{libreria.codLibreria}}</span>
        </dd>
        <dt><span jhiTranslate="libreriaApp.libreria.capacidad">Capacidad</span></dt>
        <dd>
            <span>{{libreria.capacidad}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'libreria/'+ libreria.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
