
<div *ngIf="libro">
    <h2><span jhiTranslate="libreriaApp.libro.detail.title">Libro</span> {{libro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="libreriaApp.libro.codLibro">Cod Libro</span></dt>
        <dd>
            <span>{{libro.codLibro}}</span>
        </dd>
        <dt><span jhiTranslate="libreriaApp.libro.estado">Estado</span></dt>
        <dd>
            <span jhiTranslate="{{'libreriaApp.Estado.' + libro.estado}}">{{libro.estado}}</span>
        </dd>
        <dt><span jhiTranslate="libreriaApp.libro.ejemplar">Ejemplar</span></dt>
        <dd>
            <div *ngIf="libro.ejemplar">
                <a [routerLink]="['/ejemplar', libro.ejemplar?.id]">{{libro.ejemplar?.isbn}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'libro/'+ libro.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
